<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="hexapod_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_21">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_21']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_22">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_22']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_23">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_23']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_31">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_31']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_32">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_32']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_33">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_33']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_41">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_41']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_42">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_42']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_43">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_43']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_51">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_51']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_52">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_52']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_53">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_53']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_61">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_61']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_62">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_62']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_63">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_63']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
